<footer class="bg-cr-yellow py-6 px-4">
    <h3 class="text-center">If you want to get in touch, just poke me on:</h3>
    <ul class="text-center my-2 flex items-center justify-center">
      <li class="inline-block mx-4">
        <a href="https://github.com/carlosariveram" target="_blank">
          <img class="h-8 w-8 inline" src="./assets/github.png" alt="GitHub" />
        </a>
      </li>
      <li class="inline-block mx-4">
        <a href="https://www.linkedin.com/in/carlosariveram/" target="_blank">
          <img class="h-8 w-8 inline" src="./assets/linkedin.png" alt="LinkedIn"/>
        </a>
      </li>
      <li class="inline-block mx-4">
        <a href="mailto:carlosa.riveram@gmail.com">
          <span class="material-icons-outlined text-4xl">email</span>
        </a>
      </li>
    </ul>
    <h6 class="text-center text-xs">Done with love using Tailwind CSS & Angular.JS</h6>
  </footer>