<section class="py-6 px-4" id="technology-stack">
    <h2 class="text-2xl mb-4 w-100">Technology Stack</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/csharp.png" alt="C#" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/js.png" alt="javascript" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/php.png" alt="PHP" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/sql-server.png" alt="SQL Server" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/mysql.png" alt="MySQL" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/postgresql.png" alt="PostgreSQL" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/elastic.png" alt="Elastic" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/aws.png" alt="AWS" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/azure.png" alt="Azure" />
      </div>
      <div class="text-center border-2 h-44 pt-4">
        <img class="h-32 inline" src="./assets/google-cloud.svg" alt="Google Cloud" />
      </div>
    </div>
  </section>